/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');
/* set CSS variables */
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Sriracha", cursive;
  --shades-light: #f0f2f2;
  --accent-light: #a99859;
  --main-brand: #3c574a;
  --accent-dark: #5f5032;
  --shades-dark: #2d4230;
}
/* Global Styles */
body {
    background-color: var(--shades-light);
  font-family: var(--primary-font);
  color:var(--main-brand);
}
h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--accent-dark);
}
/* Navigation styles */
nav {
    background-color: var(--main-brand);
    color: var(--shades-light);
}
nav:hover {
    color: var(--accent-light);
}

/* Footer / contact */
#contact {
    background-color: var(--main-brand);
    color: var(--shades-light);
    padding-bottom: 3rem;
  }


