/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap");

/* set CSS variables */
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Sriracha", cursive;
  --shades-light: #f0f2f2;
  --accent-light: #a99859;
  --main-brand: #3c574a;
  --accent-dark: #5f5032;
  --shades-dark: #2d4230;
}

/* Global Styles */
body {
  background-color: var(--shades-light);
  font-family: var(--primary-font);
  color: var(--main-brand);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--accent-dark);
}

/* Custom Buttons (instead of using bootstraps button colours) */
.custom-button-filled {
  border: 2px solid var(--shades-dark);
  background-color: var(--shades-dark);
  color: var(--shades-light);
}
.custom-button-filled:hover {
  border: 2px solid var(--shades-dark);
  background-color: var(--shades-light);
  color: var(--shades-dark);
}
.custom-button-outline {
  border: 3px solid var(--accent-dark);
  background-color: var(--shades-light);
  color: var(--accent-dark); 
}
.custom-button-outline:hover {
  border: 3px solid var(--accent-dark);
  background-color: var(--accent-dark);
  color: var(--shades-light);
}

/* Navigation styles */
nav {
    background-color: var(--main-brand);
    color: var(--shades-light);
    box-shadow: 0.1rem 0.3rem var(--shades-dark);
  }
  nav:hover {
    color: var(--accent-light);
  }
  /* Override boostrap class to make menu dropdown right aligned */
  .navbar-collapse {
    margin: 0 auto;
    text-align: right;
  }
   /* less rounded buttons to match logo */
   nav .custom-button-filled,
   nav .custom-button-filled:hover {
   border-radius:0.2rem;
   }

/* Header styles */
#header {
    background: url("../images/sunset-mx-riders-ai.png") top / cover no-repeat;
    font-size: 1.2rem;
  }
  /* add a semi-transparent background to the header row so that the darker text is legible against the background image */
  #header .row {
    background-color: rgba(240, 242, 242, 0.65);
    padding-top:0.5rem;
  }
  #header img {
    border: var(--accent-light) inset 5px;
  }

/* Main section */
#info {
  background-color: var(--shades-light);
  /* min-height to make section stretch towards footer section */
  min-height: 35vh;
}
#member-form {
  /* apply semi-transparent background to form */
  background-color: rgba(240, 242, 242, 0.65);   
}
/* Change the text link colours in this section only */
#info a:link {
    color:var(--shades-dark)
}
#info a:visited {
    color: var(--main-brand);
}
/* mouse over effect */
#info a:hover {
    color: var(--accent-dark);
    font-weight: bold;
}

/* Footer / contact */
#contact {
  background-color: var(--main-brand);
  color: var(--shades-light);
  padding-bottom: 2rem;
}
/* override dark h1,h2,h3 font colour to make it light on the dark footer */
#contact h1,
#contact h2,
#contact h3 {
  color: var(--shades-light);
}
#contact .social-links i {
    color: var(--shades-light);
    font-size: 1.8rem;
    transition: color 0.4s ease-in-out;
    padding-right:0.2rem;
  }
#contact .social-links i:hover {
    color: var(--accent-light);
  }

/* Media Queries */
/* Add a body background image to screens above 576px wide (bootstrap sm breakpoint) */
@media screen and (min-width: 576px) {
  body {
    /* here we are using layered backgrounds to effectively darken the background by 50% */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
     url("../images/mx-track-above-ai.jpg") top / cover no-repeat;
   
  }
}
/* space out nav links a little on larger screens  */
@media screen and (min-width: 992px) {
    .navbar-nav > a {
        margin-right:0.2rem;
    }
}